.mat-card-simples {
    max-width: 248px;
    background-color: rgb(188, 248, 228);
    margin-top: 10px;
  }
  
  mat-card-title {
    margin-left: -18px;
  }
  
  .mat-form-principal {
    margin-top: 5px;
  }
  
  button {
    margin: -10px 0 10px 185px;
  }
  